.modalpost {
  position: relative;
  background-color: var(--color-light);
  width: 50%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}

.modalpost-actions {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}

.modalpost-actions button {
  background-color: var(--color-primary);
  color: var(--color-light);
  width: 6rem;
  height: 50px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}

.modalpost-actions button:hover {
  background-color: #5e8000;
}

.modalpost-close {
  position: absolute;
  top: 10px;
  right: 12px;
  background: none;
  border: none;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  color: var(--color-text);
}

.modalpost-close:hover {
  color: rgb(182, 0, 0);
}