.aside {
  width: 220px;
  padding: 16px;
  background-color: rgb(235, 235, 235);
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 6px 0 12px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.aside-link{
  text-decoration: none;
  font-weight: bold;
  color: var(--color-text);
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.2s;
  border-bottom: 2px solid var(--color-primary);
  width: 90%;
  margin: 0 auto; 
}

.aside-link:hover {
  background-color: #82b10042;
}

.aside-dropdown {
  position: relative;
}

.aside-dropdown-content {
  display: flex;
  top: 100%;
  left: 0;
  background-color: var(--color-light);
  border: 1px solid #ddd;
  width: 100%;
  border-radius: 4px;
  flex-direction: column;
  z-index: 10;
}

.aside-dropdown-item {
  padding: 8px 12px;
  cursor: pointer;
  color: var(--color-text);
}

.aside-dropdown-item:hover {
  background-color: var(--color-bg);
}

.aside-dropdown-button {
  text-align: center;
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  border: transparent;
}

@media (max-width: 643px) {
  .aside {
    width: 100%;
    flex-direction: row;
    align-items: center;
    height: 50px;
    margin: 0 1rem 0 0;
  }

  .aside-dropdown-content {
    position: absolute;
    width: 200%;
    right: 25px;
    left: -30px;
  }
}

@media (max-width: 475px) {
  .aside {
    font-size: 13px;
  }
}

@media (max-width: 415px) {
  .aside-link {
    padding: 7px 7px;
  }
  
  .aside-dropdown-button {
    font-size: 12px;
  }
  
  .aside-dropdown-item {
    font-size: 13px;
    text-align: center;
  }
}

@media (max-width: 360px) {
  .aside {
    font-size: 12px;
  }

  .aside-link {
    padding: 7px 5px;
  }

  .aside-dropdown-item {
  padding: 7px 10px;
  font-size: 12px;
  }
}