.home {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 2rem;
}

.home-hero {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  border-radius: 1rem;
}

.home-hero.reverse {
  flex-direction: row-reverse;
  background-color: var(--color-primary);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.329);
}

.home-hero.reverse h2, .home-hero.reverse p{
  color: whitesmoke;
}

.home-text {
  flex: 1 1 45%;
  text-align: center;
}

.home-text h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--primary-color, var(--color-primary));
  text-shadow:
    -0.5px -0.5px 0 black,
     0.5px -0.5px 0 black,
    -0.5px  0.5px 0 black,
     0.5px  0.5px 0 black;
}

.home-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: var(--text-color, #333);
}

.home-image {
  flex: 1 1 45%;
  text-align: center;
}

.home-image img {
  max-width: 400px;
  max-height: 400px;
  border-radius: 1rem;
}