.ad-banner {
  margin-top: 2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  background-color: var(--color-primary);
  margin-bottom: 1rem;
  transition: box-shadow 0.2s ease;
}

.ad-banner:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.ad-banner-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
  cursor: pointer;
}

.ad-banner-text {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: whitesmoke;
}

@media (max-width: 643px) {
  .ad-banner {
    display: none;
  }
}