.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-primary);
  color: var(--color-light);
  height: 210px;
  width: 100%;
}

.header-left {
  height: 100%;
}

.header-logo {
  padding: 5px 0;
  height: 100%;
  cursor: pointer;
}

.header-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 50%;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.header-title {
  padding-top: 20px;
  font-size: 4rem;
  color: var(--color-light);
  text-align: center;
  font-family: "Bangers";
  letter-spacing: 5px;
}

.slogan {
  font-size: 1.5rem;
  font-family: "Comic Neue";
}

.header-search {
  width: 80%;
  padding: 8px 12px;
  border-radius: 4px;
  border: none;
}

.header-right {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.header-button {
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: transparent;
  color: var(--color-light);
  border: 1px solid var(--color-light);
  transition: background-color 0.2s;
}

.header-button.primary {
  background-color: var(--color-light);
  color: var(--color-primary);
  border: none;
}

.header-button:hover {
  background-color: rgba(255, 255, 255, 0.699);
}