@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Comic+Neue:wght@300;400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-bg: #f5f5f5;
  --color-primary: #82b100;
  --color-text: #212121;
  --color-light: whitesmoke;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-text);
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 20px;
  transition: background 0.3s;
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) var(--color-text);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html, body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: Roboto, sans-serif;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
}